*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    padding: 15px 0;
    background-color: black;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}
header nav ul{
    display: flex;

}
header nav ul li{
    margin: 0 15px;
    list-style: none;
}
header nav ul li a{
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}